# Copy this file to important.local.env and paste your SendGrid API key.
SENDGRID_API_KEY=PASTE_YOUR_SENDGRID_API_KEY_HERE
MAIL_DEFAULT_SENDER=YTU Social <portalytu@gmail.com>
SENDGRID_SANDBOX_MODE=false
